<app-fullscreen-video></app-fullscreen-video>

<mat-tab-group dynamicHeight>
  <mat-tab label="Welcome">
    <h2 class="small-box mat-elevation-z4">Good Morning City!</h2></mat-tab
  >
  <mat-tab label="Happy Company">
    <p class="large-box mat-elevation-z4">
      Everything is better when we stick together. Side by side, you and I are
      gonna win forever. Let's party forever. We're the same, I'm like you,
      you're like me. We are working in harmony.
    </p>
  </mat-tab>
  <mat-tab label="Contact">
    <div class="large-box mat-elevation-z4">
     <p>
      Blue skies, bouncy springs. We just named two awesome thing. A Nobel
      prize, a piece of string. You know what's awesome? Everything! Dogs with
      fleas, allergies, a book of Greek antiquities...
    </p>
    <p>
      Brand new pants, a very old vest, awesome items are the best... Trees,
      frogs, clogs, they're awesome! Rocks, clocks, and socks, they're awesome!
      Figs, and jigs, and twigs, that's awesome! Everything you see or think or
      say is awesome!
    </p>>
</div>
  </mat-tab>
</mat-tab-group>
