<mat-card class="worker-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-subtitle>Awesome Employee Number: {{id}}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{imgSrc}}"
    alt="Photo of {{name}}"
  />
  <mat-card-content>
    <p>
      
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openDialog()">Invite!</button>
    <li class="invite" *ngIf="taco">
        You invited to:Taco Tuesday!
      </li>
    <button mat-button matBadge="{{badgeCount}}" matBadgeColor="warn" (click)="addBadgeCount()"(click)="openSnackBar()">GIVE AWESOMENESS!<mat-icon>favorite</mat-icon></button>
  </mat-card-actions>
</mat-card>
<app-worker-detail></app-worker-detail>

