<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">Workers</a>
        <a mat-list-item href="#">About</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
    <mat-toolbar color="primary">
    <mat-toolbar-row class="nav-bar">
      <button
        mat-icon-button
        class="icon"
        aria-label="Menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <div>
        <a mat-button [routerLink]="'/workers'"> Workers </a>
        <a mat-button [routerLink]="'/about'"> About </a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="title-bar">
        <span>{{ title }}</span>
    </mat-toolbar-row>
    </mat-toolbar>
</mat-sidenav-content>
</mat-sidenav-container>

