<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async)">
      <mat-toolbar class="menu-title">Menu</mat-toolbar>
      <mat-nav-list class="menu-items">
        <a mat-list-item href="/workers" (click)="drawer.toggle()">Workers</a>
        <a mat-list-item href="/about" (click)="drawer.toggle()">About</a>
        <p mat-list-item (click)="drawer.toggle()">x</p>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
    <mat-toolbar color="primary">
    <mat-toolbar-row class="nav-bar">
      <button
        mat-icon-button
        class="icon"
        aria-label="Menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <div class="nav-links">
        <a mat-button [routerLink]="'/workers'" (click)="drawer.toggle()"> Workers </a>
        <a mat-button [routerLink]="'/about'" (click)="drawer.toggle()"> About </a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="title-bar">
        <span (click)="openSnackBar()">{{ title }}</span>
    </mat-toolbar-row>
    </mat-toolbar>
</mat-sidenav-content>
</mat-sidenav-container>

