@import "../../../styles";

h1 {
    @include basic-styles;
    @include display-flex;
    @include leftSlide;
    font-size: $medium;
    font-family: $awesome-font;
    margin-bottom: 1em;
}

h3 {
    @include display-flex;
    @include leftSlide;
    line-height: normal;
    font-size: $small;
    font-family: $awesome-font;
    margin-bottom: 5em;
}

.cards {
  @include display-grid-mob;
  @include rightSlide;
}

@include tablet {
    .cards{
       @include display-grid-tab;
    }
}

@include desktop {
    .cards{
       @include display-grid;
    }
}
